* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: radial-gradient(closest-side, rgb(135, 68, 168), rgb(21, 2, 44));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Arimo', 'sans-serif';
}

header {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Arimo', 'sans-serif';
}

h1 {
    color: white;
    font-size: 3.5rem;
}
h2 {
    color: white;
    font-size: 1.5rem;
}

main {
    text-align: center;
}

.shake-container {
    position: relative;
    /* display: inline-block; */
}

.shake {
    animation: shakeAnimation .7s ease-in-out;
}

@keyframes shakeAnimation {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-30px);
    }
    50% {
      transform: translateX(30px);
    }
}

.magic-eight-ball {
    align-items: center;
    padding: 5%;
    width: 70%;
}

#quoteContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
    display: none;
    opacity: 1;
    text-align: center;
}

#quote {
    color: white;
    font-size: .8rem;
    opacity: 1;
    transition-duration: 3s;
    transition-property: opacity;
    max-width: 50%;
    text-align: center;
}

#quote.fade {
    opacity: 0;
}



.full-list-btn {
    background: radial-gradient(closest-side, rgb(72, 31, 119), rgb(46, 14, 85));
    box-shadow: 1px 10px 5px rgb(21, 2, 44);
    border-radius: 10px;
    border-color: rgba(21, 2, 44, 0.865);
    color: white;
    font-size: 1rem;
    padding: 2%;
}